<div class="content has-text-centered">
  {{#each this}}
  <section>
    <div class="comment-user">
      {{player.username}} on {{format_date created_at}}
    </div>
    <div>
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>