<div class="content has-text-centered">

        <h1> High Scores</h1>
        
        <table class="table  center">
            <tbody>
              <tr>
                  <th>Rank</th>
                  <th>Username</th>
                  <th>WPM</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Test</td>
                <td>100</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Test</td>
                <td>100</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Test</td>
                <td>100</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Test</td>
                <td>100</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Test</td>
                <td>100</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Test</td>
                <td>100</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Test</td>
                <td>100</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Test</td>
                <td>100</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Test</td>
                <td>100</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Test</td>
                <td>100</td>
              </tr>

            </tbody>
          </table>
        <p> Think you can beat them? Click the log-in button on the top of the page, and prove it!</p>
    </div>