<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just My Type</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/public/stylesheets/landing-styles.css">
    <script src="https://kit.fontawesome.com/f081d42cb8.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- navbar stylings -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item titles" href="#">
                Just My Type
            </div>
        </div>
        <div class="navbar-item">
            <i class="fas fa-keyboard titles"></i>
        </div>
        <div class="navbar-item titles">
            A 'Choose Your Own Adventure' Typing Game
        </div>

        <div id="navbarBasicExample" class="navbar-menu"></div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {{!-- {{#if loggedIn}} --}}
                    <a class="button">
                        <strong>Start!</strong>
                    </a>
                    <a class="button">
                        <strong>Log Out</strong>
                    </a>
                    {{!-- {{ else }} --}}
                    <a class="button">
                        <strong>Log In</strong>
                    </a>
                    {{!-- {{/if}} --}}
                </div>
            </div>
        </div>
    </nav>
    <!-- navbar  end -->
    <main>
        {{{body}}}
    </main>
    <!-- footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Made by Group 1. 😄
            </p>
        </div>
    </footer>
</body>

</html>