<div class="content has-text-centered">
    <h1> Welcome! </h1>
    <p>Ever wanted to practice your typing speed, all while reading a cool story? Well, you've come to the right place!
    </p>
</div>

<!-- display high scores -->
{{!-- {{> high-scores }} --}}
<!-- high scores end -->
