<div>
  <div>
    <form class="login-form">
        <div>
           <h2>
                        Existing User? Log In Below!
                    </h2>
            <label for="email-login">Email:</label>
            <input type="text" class="login-form" id="email-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" class="login-form" id="password-login" />
        </div>
        <div>
            <button type="submit" class="login" id="login-form">Log-in</button>
        </div>
    </form>
  </div>
  
   <div class="signup-form">
    <form class="signup-form">
     <h2>
                        New User? Sign Up Here!
                    </h2>
      <div>
        <label for="username-signup">Username:</label>
        <input type="text" class="signup-form" id="username-signup" />
      </div>
      <div>
        <label for="email-signup">Email:</label>
        <input type="text" class="signup-form" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" class="signup-form" id="password-signup" />
          <small id="emailHelp" class="">Your password must contain at least 4 characters.</small>
      </div>
      <div>
        <button type="submit" class="login">Sign-up</button>
      </div>
    </form>
   </div>
   <script src="/javascript/login.js"></script>
   <script src="/javascript/signup.js"></script>

</div>
