* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: lightsteelblue;
}

.text-display {
    font-size: larger;
}

.text-input {
   resize: none;
   height: 400px;
   width: 500px;
}