* {
    box-sizing: border-box;
}

body {
    background-color: #484848;
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-display {
    font-size: larger;
}

.input_area {
    background-color: rgb(66, 66, 66) ;
    height: 80px;
    width: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px;
    padding: 20px;
    border: 0px;
    box-shadow: black 5px 8px 5px;
  }

.correct_char {
    color: rgb(139, 255, 100);
}

.incorrect_char {
    color: rgb(255, 100, 229);
}

.restart {
    display: block;
}