* {
    box-sizing: border-box;
}

body {
    background-color: #484848;
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curr_time, .curr_errors,
.curr_accuracy, .curr_cpm,
.curr_wpm {
  font-size: 2.75rem;
}

.quote {
    background-color: #e41515;
    font-size: 1.5rem;
    margin: 10px;
    padding: 25px;
    /* box-shadow: rgb(255, 0, 0) 5px 8px 5px; */
  }

.input_area {
    background-color: rgb(66, 66, 66) ;
    height: 80px;
    width: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px;
    padding: 20px;
    border: 0px;
    box-shadow: black 5px 8px 5px;
  }

.correct_char {
    color: rgb(139, 255, 100);
}

.incorrect_char {
    color: rgb(255, 100, 229);
    text-decoration: underline;
}

.restart_btn {
    display: none;
    background-color: #00f1e9;
    font-size: 1.5rem;
    padding: 10px;
    border: 0px;
    box-shadow: rgb(193, 171, 171) 5px 8px 5px;
  }